<!--
 À medida que o método render itera sobre a coleção @article.comments, ele atribui cada comentário a uma variável local com o mesmo nome da parcial, neste caso comment, que fica disponível na parcial para que possamos mostrar.

 a variavel local, tem como nome padrao, o nome da parcial, no caso, comment, que é passada para a parcial pelo metodo render
-->
<p>
	<strong>Commenter:</strong>
	<%= comment.commenter %>
</p>

<p>
	<strong>Comment:</strong>
	<%= comment.body %>
</p>

<p>
	<%= link_to "Destroy Comment", [comment.article, comment], data:{
		turbo_method: :delete,
		turbo_confirm: "Are you sure?"} %>
</p>
